/*RESET BROWSER DEFAULT CSS STYLE*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*RESET END*/

section {
    min-height: 100vh;
    padding: 100px;
}
section .drop-box {
    position: relative;
    width: max-content;
    background-color: #5e72e4 ;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
section .drop-box.drop-box-btn:hover{
    background-color: #5566cb;
    box-shadow: 0 5px 7px rgba(50, 50, 93, 0.11), 0 2px 4px rgba(0, 0, 0, 0.08);
}
section input[type='button']{
    width: 120px;
    background-color: transparent;
    color: #ffffff;
    font-size: 19px;
    letter-spacing: 4px;
    line-height: 19px;
    border: none;
    outline: none;
    cursor: pointer;
}
section input[type='text']{
    width: 120px;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 19px;
    border: none;
    outline: none;
}
section input[type='text']::placeholder{
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
}
section .drop-box-list {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: max-content;
    border-radius: 3px;
    background-color: #efefef;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
section .drop-box-list:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 3px;
    border-bottom: 10px solid #efefef;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
section .drop-box-option {
    padding: 10px 15px;
    transition: all .2s;
}
section .drop-box-option:hover {
    background-color: #e7e7e7;
}
section .drop-box-option:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px dashed #dddddd;
}